.skill-items {
  margin: 10px 0;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.skill-items .skill-item {
  background-color: #787d8f;
  padding: 7px 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.skill-items-ats {
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
  font-size: 16px;
}

.skill-item-ats {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-size: 12px;
}

.bullet {
  margin: 0 8px;
  font-weight: bold;
}

.skill-bottom {
  padding-bottom: 10px;
}
