.education-container {
  margin-top: 10px;
  display: flex;
  gap: 15px;
}

.edu-item {
  margin-bottom: 15px;
  flex: 1;
}

.edu-title {
  font-size: 18px;
  font-weight: bold;
}

.edu-uni {
  font-size: 16px;
}

.edu-subject {
  font-size: 12px;
  font-style: italic;
}

.edu-duration,
.edu-duration,
.edu-mode,
.edu-grade {
  font-size: 12px;
}

.main-exp-container {
  /* padding-top: 15px;   */
}
