.experience-container {
  margin-top: 10px;
}

.experience-item {
  margin-bottom: 15px;
}

.exp-title {
  font-size: 18px;
  font-weight: bold;
}

.exp-title-ats {
  font-size: 18px;
}

.exp-company {
  font-size: 16px;
}

.exp-duration-location {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 1.8;
}

.exp-duration-location span,
.muted-text {
  font-size: 12px;
  font-style: italic;
}

.exp-loc-mdn {
  color: #787d8f;
}

.exp-tasks {
  margin: 0;
  padding-left: 12px;
  font-size: 12px;
  line-height: 1.2;
}

.exp-tasks li {
  margin-bottom: 5px;
}

.exp-head-container-ats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
